.carousel-inner{
    width: 90vw;
    border-radius: 10px;
    max-width: 90vw;
    font-family: var(--font);
}
.carousel-item{
    img{
        height: 75vh;
    }
    h1{
        font-size: 80px;
        font-weight: 500;
    }
    h3{
        font-size: 40px;
    }
}